p:first-letter {
display:block;
margin:5px 0 0 5px;
float:left;
color:#FF3366;
font-size:60px;
font-family:Georgia;
}

 p {font-family: 'Open Sans';
font-size: 14px;
color: whitesmoke;
line-height: 18px;
margin-bottom: 20px;
}


*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

body {
       padding: 0;
    margin: 0;
  color: white;
}
.container {
    width: 690px;
    height: 220px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
button {
    font-size: 30px;
    background-color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: black;
    width: 200px;
    padding: 20px;
    padding-left:40px; 
    padding-right:40px;
}
button:nth-child(1) {
cursor: url("gfg.png"),pointer;
}
button:nth-child(2) {
cursor: url("cheese.png"),pointer;
}
button:nth-child(3) {
cursor: url("rocket.png"),pointer;
}
th { font-size: 13px; font-weight: normal; padding: 8px; background: #b9c9fe;
border-top: 4px solid #aabcfe; border-bottom: 1px solid #fff; color: #039; }

td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff;
color: #669; border-top: 1px solid transparent; }

h1 {
            font-size: 5rem;
            text-shadow: 5px 5px 0px red;
        }



BODY onLoad{
  font-family: 'Open Sans';
font-size: 14px;
color: red;
line-height: 18px;
margin-bottom: 20px;
}
marquee{
    font-family: 'fantasy';
font-size: 150px;
color: red;
line-height: 200px;
margin-bottom: 400px;
scrolldelay:9px;
  bgcolor:red;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu-h{
    background-color: rgb(37, 37, 39);
}

#menu-h ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(24, 139, 233);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}
@aguaradi dinga esa del video;
body {
  position: relative;
  margin: 0;
}
.sect {
  width: 100%;
  min-height: 500px;
}
#sect1,
#sect3 {
  background-color: #3333337d;
  color: #fff;
}
#sect2 {
  background-color: #dddddd7d;
  color: #333;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
h1 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}
h2 {
  margin: 0;
  padding-top: 3rem;
  padding-left: 2rem;
}


.wrap {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100vh;
	width: 100%;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
	bottom: 0;
	margin: auto;
  display: block;
  width: 20vw;
  height: 20vw;
  overflow: visible;
}
@bichas animadas;
body {
  display:flex;
  align-items:;
  justify-content:;
  
}
.text-typing {
  padding:20px 30px;
  background:#f5f5f5;
  font-size:35px;
  font-family:monospace;
  border-radius:500px;
}
.text-typing p {
  margin:0px;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 4s steps(22,end) forwards,
            blink 1s infinite;
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  10%,100% {
    border-right:12px solid transparent;
  }
  50% {
    border-right:12px solid #222;
  }
}

            .geeks {
                font-size: 40px;
                text-align:center;
                font-weight:bold;
                color:black;
                padding-bottom: 5px;
                font-family:Times New Roman;
            }
             
            .geeks1 {
                font-size:17px;
                font-weight:bold;
                text-align:center;
                font-family:Times New Roman;
            }
             
            h2 {
                width: 350px;
                animation-name: text;
                animation-duration: 4s;
                animation-iteration-count: infinite;
                background-color:black;
            }
             
            #one {
                animation-timing-function: ease;
            }
             
            #two {
                animation-timing-function: linear;
            }
             
            #three {
                animation-timing-function: ease-in;
            }
             
            #four {
                animation-timing-function: ease-out;
            }
             
            #five {
                animation-timing-function: ease-in-out;
            }
             
            @keyframes text {
                from {
                    margin-left: 60%;
                }
                to {
                    margin-left: 0%;
                }
            }
        