
#menu-wrapper{
position:fixed;
z-index: 999999;
width:100%;
}
nav {
display: block;
margin-top: 0px;
background: $(menu.background.color);
}
.menu {display: block;}
.menu li {
display: inline-block;
position: relative;
z-index: 100;
}
.menu li:first-child { margin-left: 0;}
.menu li a {
font: $(menu.font);
text-decoration: none;
padding: 20px 15px;
display: block;
color: $(menu.text.color);
transition: all 0.2s ease-in-out 0s;
}
.menu li a:hover,.menu li:hover>a {
color: $(menu.selected.text.color);
background: $(menu.selected.background.color);
}
.menu ul {
visibility: hidden;
opacity: 0;
margin: 0;
padding: 0;
width: 150px;
position: absolute;
left: 0px;
background: $(submenu.background.color);
z-index: 99;
transform: translate(0,20px);
transition: all 0.2s ease-out;
}
.menu ul:after {
bottom: 100%;
left: 20%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(255, 255, 255, 0);
border-bottom-color:$(submenu.background.color);
border-width: 6px

-left: -6px;
}
.menu ul li {
display: block;
float: none;
background: none;
margin: 0;
padding: 0;
}
.menu ul li a {
font-size: 13px;
font-weight: normal;
display: block;
color:$(submenu.text.color);;
background: $(submenu.background.color);
}
.menu ul li a:hover,.menu ul li:hover>a {
background: $(submenu.selected.background.color);
color: $(submenu.text.color.hover);
}
.menu li:hover>ul {
visibility: visible;
opacity: 1;
transform: translate(0,0);
}
.menu ul ul {
left: 149px;
top: 0px;
visibility: hidden;
opacity: 0;
transform: translate(20px,20px);
transition: all 0.2s ease-out;
}
.menu ul ul:after {
left: -6px;
top: 10%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(255, 255, 255, 0);
border-right-color: $(submenu.background.color);
border-width: 6px;
margin-top: -6px;
}
.menu li>ul ul:hover {
visibility: visible;
opacity: 1;
transform: translate(0,0);
}
.responsive-menu {
display: none;
width: 100%;
padding: 20px 15px;
background: $(menu.background.color);
color: $(menu.text.color) !important;
text-transform: uppercase;
}
.responsive-menu:hover {
background: $(menu.selected.background.color);
color: $(menu.selected.text.color);
text-decoration: none;
}
a.homer { background: $(menu.background.color);}
@media (max-width: 1024px) {
.mainWrap { width: auto; padding: 50px 20px; }
.menu { display: none; }
.responsive-menu {display: block; margin-top: 0px; }
nav { margin: 0; background: none; }
.menu li { display: block; margin: 0; }
.menu li a {
background: $(submenu.background.color);
color: $(submenu.text.color);
}
